<h4>Post text:</h4>
<br />

<p> <%= @row['details'] %></p>
<br />
<p style="font-size: 80%; color: #777" align="right"> Added at <%= @row['created_date'] %></p>
<br />

<h4>Comments:</h4>
<br />

<% @comments.each do |comment| %>
	<hr />
	<p><%= comment['comment'] %></p>
	<p style="font-size: 75%; color: #999" align="right"><%= comment['created_date'] %></p>
<% end %>
<hr />
<br />

<form action="/post-<%= @row['id'] %>" method="POST" role="form">
	<textarea name="content" class="form-control" rows="7" placeholder="Write comment text here"></textarea>
	<br />
	<button type="submit" class="btn btn-success">Add comment</button>
</form>

